*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline;
}
li{
    list-style: none;
}
#screen-1{
    width:100%;
    height:100vh;
    background-image: url(img/Background1\ png.jpg);
    background-size: cover;
}
/* HEADER START */
header{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#logo{
    font-size:36px;
}
.yellow{
    color:#e0b973;
}
header a{
    font-size: 26px;
    color:#000;
}
header ul {
    display: flex;
    justify-content: flex-end;
}
header ul li{
    padding:0 40px;
}
/* HEADER FINISH */
/* SCREEN-1 START */
.card-1{
    width:698px;
    height:328px;
    margin-top:300px;
    margin-left:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-1 p{
    font-size: 30px;
    padding:20px 0px;
    line-height:1.4;
}
.card-1 h1{
    font-size: 50px;
}
#luxury{
    font-size: 100px;
    color:#e0b973;
}

#screen-1 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:80px;
}
#screen-1 footer h3{
    padding-top:15px;
    color:#eee;
    font-size:30px;
}
.circle{
    font-size:30px;
    width:40px;
    height:40px;
    border-radius:40px;
    border:4px solid #eee;
    color:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SCREEN-1 FINISH */
/* SCREEN-2 START */
#screen-2{
    width: 100%;
    height: 100vh;
    background-color:#ffffff;
    
}
#screen-2 header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    font-size: 24px;
}
#screen-2 .row-1{
    width:1569px ;
    height: 579px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
}
#screen-2 .row-1 img{
    width:864px;
    height:574px;
}
#screen-2 .row-1 .row-content-1{
    width:669px ;
    height: 379px;
   margin-right:30px;
}
#screen-2 .row-1 .row-content-1 h3{
    font-size: 40px;
    padding:20px 10px;
}
#screen-2 .row-1 .row-content-1 p{
    font-size: 30px;
    padding:20px;
    margin-bottom:10%;
}
#screen-2 .row-1 .row-content-1 a{
    margin-left:30%;
}
/* Row-2 */
#screen-2 .row-2{
    width:1569px ;
    height: 579px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}
#screen-2 .row-2 img{
    width:864px;
    height:574px;
}
#screen-2 .row-2 .row-content-2{
    width:669px ;
    height: 379px;
   margin-right:30px;
}
#screen-2 .row-2 .row-content-2 h3{
    font-size: 40px;
    padding:20px 10px;
}
#screen-2 .row-2 .row-content-2 p{
    font-size: 30px;
    padding:20px;
    margin-bottom:10%;
}
#screen-2 .row-2 .row-content-2 a{
   margin-left:30%;

}
/* SCREEN-3 FINISH */
/* SCREEN-3 START */
#screen-3{
    width:100%;
    height:30vh;

}
#screen-3 header{
    width:100%;
    height:20vh;
    margin-top:400px;
    display: flex;
    flex-direction: column;
}
#screen-3 header .header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
#screen-3 header .header-content h4{
    font-size: 40px;

}
#screen-3 header .header-content p{
    font-size: 30px;

}
#screen-3 header .header-content blockquote{
    font-size: 31px;
}
.square{

    width:30px;
    height: 30px;
    background-color: #e0b973;
    padding:10px;
    margin:5px;
    
}
/* SCREEN-3 FINISH */
/* CONTATC-US START */
#luxury-1{
    font-size: 50px;
    color:#e0b973;
}
#contact{
    width:100% ;
    height: 320px;
    background-color: #14274a;
    color:#eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact .col1 .col2 .col3 .col-4{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin:20px;

}
#contact .col1{
    font-size: 22px;
    line-height: 1.5;
}
#contact .col2{
    font-size: 22px;
    line-height: 2;
}
#contact .col3 i{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 2;
}
#contact .col3 .fb h5{
    padding-left:10px;
 }
#contact .col4{
    font-size: 22px;
    line-height: 1.5;
}
#contact .col4 input:nth-child(1){
    height: 40px;
    width:200px;
    margin-top:30px;
    font-size: 20px;
    outline: none;
}
#submit{
    font-size:20px;
    width: 60px;
    height:40px;
    background-color:#e0b973;
}